@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active svg {
  color: #dd7230;
}

.box-shadow {
  box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.2);
}

.box-shadow-day {
  box-shadow: 7px 3px 1px rgba(0, 0, 0, 0.2);
}
