@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active svg {
  color: #dd7230;
}

.box-shadow {
  box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.2);
}

.box-shadow-day {
  box-shadow: 7px 3px 1px rgba(0, 0, 0, 0.2);
}

#footer {
  transition: height 0.1s ease-out;
  will-change: height;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

#share-like-addToPlanning {
  /* opacity: 80%; */
}

.infoBulleNotCopied {
  transform: scale(0);
  background-color: white;
}

.infoBulleCopied {
  transform: scale(1);
}

/* BACKGROUND */

.bg-image {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.35)
    ),
    url(./assets/Background-body.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* SEARCH-BAR */

.leaflet-popup-content-wrapper {
  background-color: #2e1f27;
  box-shadow: 10px 5px 5px gray;
  opacity: 0.7;
  color: #fdb500;

  text-align: center;
  width: 200px;
}
.L.Icon.Default.prototype.options {
  color: #dd7230;
}
